/* fonts */

@font-face {
    font-family: "Honey";
    src: url("fonts/HoneyScript-Light.ttf");
  }
  
  @font-face {
    font-family: "Quicksand";
    src: url("fonts/Quicksand-Medium.ttf");
  }
  
  @font-face {
    font-family: "josefin Sans";
    src: url(fonts/JosefinSans-Italic-VariableFont_wght.ttf);
  }
  
  @font-face {
    font-family: "Lilita";
    src: url(fonts/LilitaOne-Regular.ttf);
  }
  
  @font-face {
    font-family: "Outfitv";
    src: url(fonts/Outfit-VariableFont_wght.ttf);
  }
  
  @font-face {
    font-family: "Pacifico";
    src: url(fonts/Pacifico-Regular.ttf);
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  
  * {
    font-family: "Quicksand";
    font-size: 14px;
  }
  
  .title01 {
    font-family: "Honey";
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: bold;
  }
  
  .title02 {
    font-family: "Quicksand";
    color: aliceblue;
    font-size: 25px;
    font-weight: bold;
  }
  
  .title03 {
    font-family: "josefin Sans";
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: bold;
  }
  
  .title04 {
    font-family: "Lilita";
    color: aliceblue;
    font-size: 25px;
    font-weight: bold;
  }
  
  .title05 {
    font-family: "Outfitv";
    color: aliceblue;
    font-size: 25px;
    font-weight: bold;
  }
  
  .title06 {
    font-family: "Pacifico";
    color: aliceblue;
    font-size: 25px;
    font-weight: bold;
  }
  
  /* sigup signin */
  
    
  .index-form-box{
    position: relative;
    width:400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px 5px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 5px;
  
  }
  
  
  .main-body{
  
    background-image: url(resources/r1\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
  
        
   }
  
   
  /* home page */
  
  /*navbar*/
  
  
  
  .main {
    
  /*background-image: url("resources/h2.png"); */
   /*background-repeat: no-repeat; */
  /* background-size:cover; */
  position: relative;
  min-height: max-content; 
   overflow: hidden; /* Ensure children don't overflow the parent during transition */
  }
  
  .background-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; /* Ensure images are aligned horizo*/
   
  }
  
  .background{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container */
    transition: opacity 1s ease-in-out;
  }
  
  .show{
    opacity: 1;
    z-index: -1;
   transition: none;
  }
   
  /* home page text animation */
  
  
  .wrapper {
   
    display: flex;
    align-items: flex-start;
   justify-content: center;
   min-height: 90px;
   overflow-x: auto;
   
  }
  
  
  .form2{
   height: 300px;
   border-radius: 20px 5px;
  backdrop-filter: blur(20px);
  background-color: transparent;
     background-image: linear-gradient(
      120deg,
      rgba(45, 2, 1, 0.4),
      rgba(17, 1, 3, 0.3)
     );
     background-size: 30px 30px;
     display: flex;
     justify-content: center;
     align-items: center ;
     flex-direction: column ;
     padding: 20px;
     transform-origin: 50% 8em;
  }
  
  
  .wiggle{
    animation: wiggle 3s ease-in-out;
    
  
  }
  
  @keyframes wiggle{
    0%, 100% {
      transform: rotateZ(0);
    }    
    10% {
      transform: rotateZ(-5deg);
    }
    20% {
      transform: rotateZ(3deg);
    }
    30% {
      transform: rotateZ(-3deg);
    }
    40% {
      transform: rotateZ(2deg);
    }
    50% {
      transform: rotateZ(-2deg);
    }
    60% {
      transform: rotateZ(1deg);
    }
    70% {
      transform: rotateZ(-1deg);
    }
    80%, 90% {
      transform: rotateZ(0);
    }
  }
  
  .btn-set button:hover{
    animation: pulse 1s infinite;
    animation-timing-function: linear;
    
  }
  
  @keyframes pulse {
    0%{transform: scale(1);}
    50%{transform: scale(1.1);}
    100%{transform: scale(1);}
    
  }
    
  .scalloped {
  /*  background-image: url("resources/scalloped2.png"); */
  background-color: rgb(45, 44, 44);
  
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .cupcake {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px; /* Add padding to center the content inside the column */
    opacity: 0;
    transform: translateY(100px);
    transition:1s ease-in-out, transform 3s; /* Added transition */ 
  }
  
  .animate {
    opacity: 1;
    transform: translateY(0);
  }
  
  
  .dcard {
    max-width: 100%; /* Ensure the card doesn't exceed its container */
    text-align: center;
    animation: pulse 8s infinite;
    animation-timing-function: linear;
   
  }
  
  .coffee-image {
    
    max-width: 100%; /* Ensure image doesn't overflow its container */
   /* height: auto; /* Maintain aspect ratio */
    transform-style: preserve-3d;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
   
   
  }
  
  
  /* 600px or less */
  @media (max-width: 600px) {
   
    .dynamic-txts{
      font-size: 30px !important;
    }
  
    .btn-set button {
      font-size: 14px; 
      padding: 8px 12px;
    }
  
    .form2:hover{
      animation: none;
    }
  
  }
    
  @media (min-width: 601px) and (max-width: 992px) {
   
    .dynamic-txts {
      font-size: 35px !important; 
    }
    .btn-set button {
      font-size: 16px; 
      padding: 10px 15px;
    }
   
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
  
    .dynamic-txts {
      font-size: 35px !important;
    }
    .btn-set button {
      font-size: 16px; 
      padding: 10px 15px; 
    }
   
  }
    
    
  
  .scalloped .card {
    transition: all 0.3s;
    background-color: #786e6e;
    
  }
  .scalloped .card:hover {
    transform: scale(1.15);
  }
  
  
  
  
  /*start image titlt */
  
  .dcard {position: relative; display: block;
    perspective: 500px;
   }
  
   
  .trigger {position: absolute; height: 33.333333%; width: 33.333333%; display: block; z-index: 2; 
  
    &:nth-child(1){  left: 0%; top: 0%;
      &:hover ~ .coffee-image {transform: rotateY(8deg) rotateX(-5deg);}
     }
    &:nth-child(2){  left: 33.333333%; top: 0%;
      &:hover ~ .coffee-image  {transform: rotateY(0deg) rotateX(-5deg);;}
     }
    &:nth-child(3){  left: 66.666666%; top: 0%;
      &:hover ~ .coffee-image  {transform: rotateY(-8deg) rotateX(-5deg);}
     }
    &:nth-child(4){  left: 0%; top: 33.333333%;
      &:hover ~ .coffee-image  {transform: rotateY(8deg);}
     }
    &:nth-child(5){  left: 33.333333%; top: 33.333333%;
      &:hover ~ .coffee-image  {transform: rotateY(0deg) rotateX(0deg);}
     }
    &:nth-child(6){  left: 66.666666%; top: 33.333333%;
      &:hover ~ .coffee-image  {transform: rotateY(-8deg) rotateX(0deg);}
     }
    &:nth-child(7){  left: 0%; top: 66.666666%;
      &:hover ~ .coffee-image  {transform: rotateY(8deg) rotateX(5deg);}
     }
    &:nth-child(8){  left: 33.333333%; top: 66.666666%;
      &:hover ~ .coffee-image  {transform: rotateY(0deg) rotateX(5deg);}
     }
    &:nth-child(9){  left: 66.666666%; top: 66.666666%;
      &:hover ~ .coffee-image  {transform: rotateY(-8deg) rotateX(5deg);}
     }
  
    }
  /*end image titlt 8*/
  
  
  /* start circle container */
  
  .big-box {
    margin-bottom: 30px;
    text-align: center;
  }
  .big-box img {
    width: 100%;
    border-radius: 50%;
    transition: transform 0.3s;
  }
  .big-box:hover img {
    transform: scale(1.1);
  }
  
  .big-box h3 {
    margin: 10px 0 5px;
    font-size: 20px;
    font-weight: 700;
  }
  .big-box p {
    font-size: 16px;
    color: #17bebb;
    transition: transform 0.3s;
  }
  
  .big-box:hover p {
    transform: scale(1.1) translateY(15px);
    font-weight: bold;
  }
  
  
  .img-border {
    border: 3px solid transparent;
    background: linear-gradient(#1b0505, #1b0505) padding-box, linear-gradient(45deg, #17bebb, #e7076c) border-box;
    animation:  border-anim 2s infinite linear;
    border-radius: 50%;
  }
  
  .big-box:hover .img-border{
  
    border: 6px solid transparent;
  
  }
  
  
  @keyframes border-anim{
    
  0% {
      background: linear-gradient(#1b0505, #1b0505) padding-box, linear-gradient(45deg, #17bebb, #e7076c) border-box;
  }
  25% {
    background: linear-gradient(#1b0505, #1b0505) padding-box, linear-gradient(45deg, #e4f805, #e7076c) border-box;
  }
  50% {
      background: linear-gradient(#1b0505, #1b0505) padding-box, linear-gradient(135deg,#e7076c, #07e712) border-box;
  }
  75% {
    background: linear-gradient(#1b0505, #1b0505) padding-box, linear-gradient(135deg, #c063dd, #e7076c) border-box;
  }
  100% {
      background: linear-gradient(#1b0505, #1b0505) padding-box, linear-gradient(45deg, #be1722,#e7076c) border-box;
  }
    
   
  }
  
  
  
  
  /*end circle container */
  
  /* home page products avatar effect */
  
  .avatar_card {
    position: relative;
    width: 300px;
    height: 450px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.25);
    /* horizontal_shdw vertical_sdw blur_radius shdw_color */
    overflow: hidden;
    background-color: #161414;
  }
  
  .avatar_card .poster__avatar {
    position: relative;
    overflow: hidden;
    height: 50%;
    /* Adjust the height as needed */
  }
  
  .poster_avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* This ensures the image covers the entire .poster */
    transition: 0.7s;
  }
  
  .avatar_card:hover .poster_avatar::before {
    bottom: 0px;
  }
  
  .poster_avatar img {
    width: 100%;
    transition: 0.7s;
    object-fit: cover;
  }
  
  .avatar_card:hover .poster_avatar img {
    transform: scale(1.1);
  }
  
  .avatar_card .details {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 20px;
    z-index: 2;
    transition: 0.5s;
    opacity: 1;
  }
  
  .avatar_card:hover .details {
    opacity: 1;
    background-color: #786e6e;
  }
  
  .avatar_card:hover .details {
    background: linear-gradient(0deg, #080808 25%, transparent);
  }
  
  .avatar_card .details h5 {
    font-size: 14px;
    color: azure;
  }
  
  /* Responsive adjustments */
  @media (min-width: 769px) and (max-width: 1024px) {
    .avatar_card {
      width: 230px;
      height: 400px;
  
    }
  }
  
  
  
  /* home page avatar products effect */
  
  .price_list .card {
    background-color: #f2cbde;
  
    border-radius: 10px;
  }
  
  .price_list .card-title {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .price_list .price {
    font-size: 2em;
    color: #ff3e6c;
  }
  
  .price_list .list-unstyled li {
    margin: 10px 0;
  }
  
  .price_list .card-body {
    padding: 20px;
  }
  
  .price_list .card-img-top {
    width: 50%;
    margin: 0 auto 20px;
    margin-top: 5px;
  }
  
  .price_list .card {
    transition: all 0.3s;
  }
  
  .price_list .card:hover {
    transform: scale(1.1);
  }
  
  /*picture swiper */
  
  .swiper-border{
    border-bottom: 4px solid #f40a45;
    border-top: 4px solid #f40a45;
  
  }
  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 350px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    -webkit-box-reflect: below 1px liner-gradient(transparent, transparent, #0002, #0004);
  }
  
  /* comment swiper */
  .owl-carousel h3{
    margin: 0;
  }
  .owl-carousel  a:hover, a:focus{
    text-decoration: none;
  }
  .testimonial{
    background: #4D241C ;
    padding: 30px 32px 30px 90px;
    margin: 50px 20px 50px 120px;
    border-radius: 0 100px 100px 0;
    color: #ffffff;
    position: relative;
    border: 5px solid #D0AB6D;
  }
  .testimonial .pic{
    width: 210px;
    height: 210px;
    line-height: 200px;
    border-radius: 50%;
    border: 14px solid #D0AB6D;
   
    position: absolute;
    top: -15px;
    left: -120px;
    overflow: hidden;
  }
  .testimonial .pic img{
    width: fit-content;
    height: 100%;
  }
  .testimonial .testimonial-info{
    display: inline-block;
    width: 35%;
  /*   float: left; */
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 28px 25px;
    margin: 0;
    border-right: 1px solid #D0AB6D;
  }
  .testimonial .testimonial-info small{
    display: block;
    font-size: 12px;
    color: #fff;
    margin-top: 5px;
  }
  .testimonial .description{
    display: inline-block;
    width: 65%;
    font-size: 15px;
    color: #fff;
    letter-spacing: 0.5px;
    margin-bottom: 0;
    padding: 28px 0 28px 28px;
    position: relative;
  }
  .testimonial .description:before{
    content: "\f10d";
    font-family: fontawesome;
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 20px;
    color: #D0AB6D;
  }
  .testimonial .description:after{
    content: "\f10e";
    font-family: fontawesome;
    font-size: 20px;
    color: #D0AB6D;
    position: absolute;
    bottom: 5px;
  }
  .owl-theme .owl-controls .owl-page.active span,
  .owl-theme .owl-controls .owl-page span{
    width: 25px !important;
    height: 7px !important;
    background: #4D241C !important;
    box-sizing: content-box;
  }
  .owl-theme .owl-controls .owl-page span{
    border: 4px solid transparent;
    background: #D0AB6D !important;
  }
  @media only screen and (max-width: 767px){
    .testimonial{
        border-radius: 40px;
        margin: 90px 15px 0;
        padding: 100px 40px 30px 40px;
    }
    .testimonial .pic{
        position: absolute;
        top: -85px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .testimonial .testimonial-info{
        width: 100%;
        float: none;
        border-right: none;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    .testimonial .description{
        width: 100%;
    }
  }
  @media only screen and (max-width: 480px){
    .testimonial{ padding: 100px 30px 30px; }
  }
  
  /* end comment swiper */
  
  
  /* cart*/
  
  .emptyCart {
    height: 400px;
    background-image: url("resources/emptycart.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  /* end cart */
  
  /* watchlist */
  .emptyView {
    height: 400px;
    background-image: url("resources/watchlistEmptyView.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  /* end watchlist */
  
  #preloader{
    background:#000 url(resources/loadinggif/2.gif) no-repeat center center;
   background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  
  
  
  
  
  
  /*start home2 Parallax */
  
  .phome {
    display: flex; 
   height: 100dvh;     
   /*background: linear-gradient(to top, #170202 50%, #e08415  ); */
    position: relative;
    overflow: hidden;
    margin-top: 50px; /* to give space to fixed-top header */
   
    
  }
  
  .homes-background-images{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; /* Ensure images are aligned horizo*/
  }
  
  
  .phome img {
    position: absolute;
    bottom: 0; /* Ensure images are aligned at the bottom */
    width: 100%;
    pointer-events: none;
   
  }
  
  .phome .ptitle {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 0, 0);
  font-size: 80px;
  
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  }
  
  @media (min-height:768px) {
  
  
    .phome .ptitle{
      top:30%;
     
    }
    
  }
  
  
  .pabout {
    padding: 50px;
    background: #15151a;
    color: white;
    position: relative;
    z-index:100;
  }
  
  .pabout h1 {
    font-size: 40px;
  }
  
  .pGallery{
  
    z-index: 101;
    position: relative;
  }
  
  /*transition */
  
  
  /*end home2 Parallax */
  
  /* start home 3 */
  
  .hero-section {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .hero-text {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
  }
  .menu-item {
    margin-bottom: 30px;
  }
  .menu-item img {
    width: 100%;
    border-radius: 10px;
  }
  
  .testimonial {
    margin-bottom: 30px;
  }
  .gallery-item {
    margin-bottom: 15px;
  }
  .gallery-item img {
    width: 100%;
    border-radius: 10px;
  }
  
  
  .form3{
    height: 100px;
    border-radius: 20px ;
   backdrop-filter: blur(20px);
   background-color: transparent;   
   background-image: linear-gradient(
      120deg,
      rgba(253, 250, 250, 0.2),
      rgba(17, 1, 3, 0.2)
     );
  background-size: 40px 40px;
      display: flex;
      justify-content: center;
      align-items: center ;
      flex-direction: column ;
      padding: 20px;
      transform-origin: 50% 8em;
   }
  
   /* overlay for background if neccessary */
   /*
   .over::before {
    content: "";
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 2;
  }
    */
  
  #autotypedtext {
    position: absolute;
    opacity: 0;
    transform:translate(-50%,-50%) translateY(20px); /* Initial position off-screen */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    color: rgb(255, 255, 255);
    
  }
  
  @media (max-width:600px) {
  
    
    .dynamic-txts-home3{
      margin-top: 10px;
      font-size: 40px !important;
    }
    
  }
  
  @media (min-width: 601px) and (max-width: 992px) {
   
    .dynamic-txts-home3 {
      margin-top: 10px;
      font-size: 45px !important; 
    }
   
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
  
    .dynamic-txts-home3 {
      margin-top: 10px;
      font-size: 45px !important;
    }
    
  }
   
  
  
  /* end home 3 */
  
  
  